<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Street:</strong>
    <%= address.street %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= address.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Zip:</strong>
    <%= address.zip %>
  </p>

  <% if loc.nil? %>
    <p class="my-5">
    <strong class="block font-medium mb-1">Location not found! </strong>
    </p>
  <% else %>
    <p class="my-5">
      <strong class="block font-medium mb-1">Lat: </strong>
      <%= loc[:lat] %> 
      <strong class="block font-medium mb-1">Long: </strong>
      <%= loc[:long] %> 
    </p>
  <% end %>

  <% if action_name != "show" %>
    <%= link_to "Forecast", forecast_path(address), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Show", address, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Destroy", address_path(address), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
